<ngx-file-drag-drop
      [formControl]="fileControl"
      activeBorderColor="#3F51B5"
      (valueChanged)="onValueChange($event)"
      [multiple]="multiple"
    >
    </ngx-file-drag-drop>
    <ul>
        <li *ngFor="let File of this.fileControl.value">
          Name - {{File.name!=""?File.name:"File Removed"}} 
          Size - {{File.size/1000000}} MB 
          type - {{File.type}} 
          lastModified - {{File.lastModified}}
         </li>
      </ul>

    <div>
      <p>Rules</p>
      <p>1.Max number of Files to be uploaded is limited to 5</p>
      <p>2.Max size of File Should be limited to 100MB/File</p>
      <p>3.After 3 Days Files will be Purged </p>
      <p>If you want to remove above Contraints Buy Prime Account @rs only</p>
      <p>So Hurry up!!!</p>
    </div>

      